/* .container {
  display: flex;
  flex-direction: column; 
  justify-items: center;
} */
.sub-btn {
  background-color: rgb(201, 6, 6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.uber-btn {
  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  border: none;
  font-size: 15px;
}
.azn-btn {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 42px;
  width: 300px;
  font-size: 20px;
  border-radius: 21px;
  font-weight: bold;
}
.github-btn {
  background-color: rgb(46, 164, 79);
  border: none;
  height: 42px;
  width: 100px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.bs-btn-1 {
  background-color: rgb(121, 82, 179);
  border: none;
  height: 40px;
  width: 120px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.bs-btn-2 {
  background-color: white;
  color: rgb(93, 91, 91);
  border: 1px solid grey;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}
.ln-btn-1 {
  background-color: #295EAC;
  color: white;
  font-weight: bold;
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
}
.ln-btn-2 {
  background-color: white;
  color: #295EAC;
  border: 1px solid #295EAC;
  height: 45px;
  width: 90px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 15px;
}